<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <!-- Referência para uso do SQL Server / SQL Compact -->
        <section name="DadosSqlCompact" type="DodFramework.DataLibrary.DAO.Specialized.SQL.SqlSettings, DodFramework.DataLibrary" />
        <section name="DadosSqlServer" type="DodFramework.DataLibrary.DAO.Specialized.SQL.SqlSettings, DodFramework.DataLibrary" />
        <section name="DadosSqlite" type="DodFramework.DataLibrary.DAO.Specialized.Sqlite.SqliteSettings, DodFramework.DataLibrary" />
    </configSections>
    <appSettings>
        <add key="MainDataSourceName" value="DadosSqlite" />
        <add key="PaperManager" value="DadosSqlServer" />
        <add key="RootPath" value="E:\Henrique\Onedrive\Henrique\Acadêmicos\Doutorado\Revisão Sistemática\Automatizada" />
    </appSettings>
    <DadosSqlCompact integratedsecurity="true" loadfromfile="true" database="Database.mdf" connecttimeout="30" />
    <DadosSqlServer integratedsecurity="true" server="(local)\SQLEXPRESS" database="RevisaoSistematica" connecttimeout="30" />
    <DadosSqlite database="Database.sqlite" />
</configuration>